
@if ( isLoaded() ) {
  <h1>LOADING...</h1>
}
@else {

  <!-- Table -->
  <table>
    <thead>
      <tr>
        <th *ngIf="isScreenLarge" class="column-logo">Logo</th>
        <th class="column-name">Nombre del Producto</th>
        <th *ngIf="isScreenLarge" class="column-description">Descripción</th>
        <th class="column-date">Fecha de liberación</th>
        <th class="column-date">Fecha de restruturación</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track $index) {
        <tr>
          <!-- Logo -->
          <td *ngIf="isScreenLarge" class="column-logo">
            @if (product.logo) {
              <img [src]="product.logo" alt="Logo" class="logo">
            }
            @else {
              <div class="logo-placeholder">{{ product.name | slice:0:2 | uppercase }}</div>
            }
          </td>

          <!-- String Fields -->
          <td class="column-name">{{ product.name }}</td>
          <td *ngIf="isScreenLarge" class="column-description">{{ product.description}}</td>
          <td class="column-date">{{ product.date_release | date:'dd/MM/yyyy' }}</td>
          <td class="column-date">{{ product.date_revision | date:'dd/MM/yyyy' }}</td>

          <!-- Action menu -->
          <td>
            <button (click)="toggleMenu()">...</button>
            <div *ngIf="showMenu" class="menu">
              <button>Editar</button>
              <button>Eliminar</button>
            </div>
          </td>
        </tr>
      }

    </tbody>
  </table>
  <!-- Results -->
  <div class="results">{{ totalProducts }} Resultados</div>
  <!-- Paginator -->
  <div class="paginator">
    <button (click)="prevPage()"><</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()">></button>
  </div>
}
