<div class="footer-container">
  <div class="results">{{ pagination?.totalItems }} Resultados</div>

  <!-- Paginator -->
  @if (pagination) {
    <!-- Previous -->
    <div class="paginator" style="display: flex; align-items: center">
      @if(pagination.totalPages > 0) {
        <button
          class="btn btn-action"
          (click)="onPrevPage()"
          [style.visibility]="pagination.currentPage === 1 ? 'hidden' : 'visible'"
        >
          <img src="assets/chevron_left_20dp.svg" alt="<" />
        </button>

        <!-- Page Number buttons -->
        @if (pagination.totalPages > 1) {
          @for (page of generatePageNumbers(); track $index) {
            @if (page === '...') {
              <span>...</span>
            } @else {
              <button
                class="btn btn-action"
                (click)="page !== '...' && onPageNumberClick(page)"
                [class.current-page]="page === pagination.currentPage"
              >
                {{ page }}
              </button>
            }
          }
        }

        <!-- Next page -->
        <button
          class="btn btn-action"
          (click)="onNextPage()"
          [style.visibility]="
            pagination.currentPage === pagination.totalPages ? 'hidden' : 'visible'
          "
        >
          <img src="assets/navigate_next_20dp.svg" alt=">" />
        </button>
      }
    </div>
  }

  <!-- Selectable menu -->
  <div class="select-container">
    <select
      [(ngModel)]="defaultPerPageValue"
      (change)="onItemsPerPageChange($event)"
    >
      @for (option of itemsPerPageOptions; track $index) {
        <option  [value]="option">
          {{ option }}
        </option>
      }

    </select>
  </div>
</div>
