@if(productId) {

<h1>Edit product</h1>

} @else {

<div class="container">
  <div class="container-header">
    <h1>Formulario de Registro</h1>
  </div>
  <hr />
  <br />
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-field">
        <label>ID</label>
        <input formControlName="id" />
        <div *ngIf="form.controls['id'].invalid && form.controls['id'].touched">
          El campo es requerido y debe tener entre 3 y 10 caracteres.
        </div>
      </div>
      <div class="form-field">
        <label>Nombre</label>
        <input formControlName="name" />
        <div
          *ngIf="form.controls['name'].invalid && form.controls['name'].touched"
        >
          El campo es requerido y debe tener entre 5 y 100 caracteres.
        </div>
      </div>
      <div class="form-field">
        <label>Descripción</label>
        <input formControlName="description" />
        <div *ngIf="form.controls['description'].invalid && form.controls['description'].touched">
          El campo es requerido.
        </div>
      </div>
      <div class="form-field">
        <label>Logo</label>
        <input formControlName="logo" />
        <div *ngIf="form.controls['logo'].invalid && form.controls['logo'].touched">
          El campo es requerido.
        </div>
      </div>
      <div class="form-field">
        <label>Fecha de Liberación</label>
        <input type="date" formControlName="releaseDate" />
        <div *ngIf="form.controls['releaseDate'].invalid && form.controls['releaseDate'].touched">
          El campo es requerido.
        </div>
      </div>
      <div class="form-field">
        <label>Fecha de Revisión</label>
        <input type="date" formControlName="reviewDate" [disabled]="true" />
      </div>
    </div>

    <div class="form-actions">
      <button
        class="btn btn-main btn-secundary"
        type="reset"
        [disabled]="form.pristine"
      >
        Reiniciar
      </button>
      <button
        class="btn btn-main btn-primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Enviar
      </button>
    </div>
  </form>
</div>

}
