.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: 64px;
  background-color: white;
  color: #0F265C;
}

.toolbar-icon {
  margin-right: 10px;
}

.toolbar-title {
  font-size: 26px;
  font-weight: 500;
}
