
@if (showConfirmationDeleteModal) {
  <app-modal-confirmation [product]="productToDeleteAux" (confirm)="onDeleteProduct($event)" (cancel)="showConfirmationDeleteModal = false"></app-modal-confirmation>
}

<div class="container">
  <div class="container-actions">
    <input
      type="text"
      class="search-input"
      [class.disabled]="isLoaded()"
      placeholder="Buscar..."
    />
    <button
      class="btn btn-main btn-primary"
      [class.disabled]="isLoaded()"
      (click)="onAddProduct()"
    >
      Agregar
    </button>
  </div>

  <div class="table-product">
    <app-product-table
      [products]="productPage.products"
      [pagination]="productPage.pagination"
      (editProduct)="onEditProduct($event)"
      (deleteProduct)="onShowConfirmationDelteModal($event)"
    ></app-product-table>
  </div>
</div>
